
    body {
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

form {
    margin: 40px auto;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 8px;
    display: block;
    margin: 40px auto;
    filter: drop-shadow(5px 5px 10px #000);
    opacity: 1;
    transition: opacity 1s ease;

    &:hover {
        opacity: 0.6;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 0.5em;
}

input,
textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #000;
    }
}

textarea {
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 0;
}

button {
    margin-top: 1em;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}
