
.lyricsDisplay{
    max-height: 100vh;
}
.lyricsContainer {
    /* margin: 150px 0; */
    position: relative;
    height: 82vh;
    overflow: auto;
    padding: 20px 0px;
  }
  
  .lyricsCenteredElement {
    margin:0;
    position: absolute;
    top: 49.75%;
    transform: translateY(-50%);
    white-space: pre-wrap;
    width:100%;
    height: 100%;
  }

  .logoContainer {
    /* margin: 150px 0; */
    position: relative;
    height: 84vh;
    overflow: auto;
    padding: 20px 0px;
  }
  
  .logoCenteredElement {
    margin:0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    text-align: center;
  }