
.lyricsDisplay{
    max-height: 100vh;
}
.lyricsContainer {
    /* margin: 150px 0; */
    position: relative;
    height: 100vh;
    overflow: auto;
    padding: 20px 0px;
  }
  
  .lyricsCenteredElement {
    margin:0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: pre-wrap;
  }